In [44]:
import os

directory = "E:/fake data/"

files = os.listdir(directory)

for file in files:
    print(file)

fake_data.csv
fd.xlsx
pd_data.xlsx
projects.csv
short_fake_data.xlsx

In [42]:
import pandas as pd
data = pd.read_excel("E:/fake data/short_fake_data.xlsx")
print("===================\n", data.head(3))
print("===================\n", data.head(4)) # First five.
print("===================\n", data.info())

print("============================================================\n")
df = pd.read_excel("E:/fake data/pd_data.xlsx")
print(df)

===================
    ID        Name  Age               Email         Phone         City
0   1  John Doe 1   43  johndoe1@email.com  555-1234-001     New York
1   2  John Doe 2   29  johndoe2@email.com  555-1234-002  Los Angeles
2   3  John Doe 3   36  johndoe3@email.com  555-1234-003      Chicago
===================
    ID        Name  Age               Email         Phone         City
0   1  John Doe 1   43  johndoe1@email.com  555-1234-001     New York
1   2  John Doe 2   29  johndoe2@email.com  555-1234-002  Los Angeles
2   3  John Doe 3   36  johndoe3@email.com  555-1234-003      Chicago
3   4  John Doe 4   36  johndoe4@email.com  555-1234-004      Houston
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5 non-null      int64
 1   Name    5 non-null      object
 2   Age     5 non-null      int64
 3   Email   5 non-null      object
 4   Phone   5 non-null      object
 5   City    5 non-null      object
dtypes: int64(2), object(4)
memory usage: 372.0+ bytes
===================
 None
============================================================

    ID       Name  Age                  Email          Phone  \
0    1   Person_1   41   person_1@example.com   123-456-7891
1    2   Person_2   40   person_2@example.com   123-456-7892
2    3   Person_3   55   person_3@example.com   123-456-7893
3    4   Person_4   43   person_4@example.com   123-456-7894
4    5   Person_5   19   person_5@example.com   123-456-7895
5    6   Person_6   47   person_6@example.com   123-456-7896
6    7   Person_7   26   person_7@example.com   123-456-7897
7    8   Person_8   44   person_8@example.com   123-456-7898
8    9   Person_9   50   person_9@example.com   123-456-7899
9   10  Person_10   26  person_10@example.com  123-456-78910
10  11  Person_11   32  person_11@example.com  123-456-78911
11  12  Person_12   27  person_12@example.com  123-456-78912
12  13  Person_13   45  person_13@example.com  123-456-78913
13  14  Person_14   43  person_14@example.com  123-456-78914
14  15  Person_15   37  person_15@example.com  123-456-78915
15  16  Person_16   51  person_16@example.com  123-456-78916
16  17  Person_17   45  person_17@example.com  123-456-78917
17  18  Person_18   19  person_18@example.com  123-456-78918
18  19  Person_19   30  person_19@example.com  123-456-78919
19  20  Person_20   19  person_20@example.com  123-456-78920

                            Address  Salary
0     1 Elm Street, City 1, Country   84825
1     2 Elm Street, City 2, Country  113309
2     3 Elm Street, City 3, Country   78885
3     4 Elm Street, City 4, Country   77742
4     5 Elm Street, City 5, Country   33880
5     6 Elm Street, City 6, Country   59173
6     7 Elm Street, City 7, Country   32706
7     8 Elm Street, City 8, Country   75083
8     9 Elm Street, City 9, Country   88101
9   10 Elm Street, City 10, Country   37407
10  11 Elm Street, City 11, Country   75145
11  12 Elm Street, City 12, Country   35397
12  13 Elm Street, City 13, Country   78543
13  14 Elm Street, City 14, Country   52045
14  15 Elm Street, City 15, Country  109862
15  16 Elm Street, City 16, Country   78285
16  17 Elm Street, City 17, Country   55379
17  18 Elm Street, City 18, Country   68694
18  19 Elm Street, City 19, Country   48453
19  20 Elm Street, City 20, Country   94648