In [22]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data)

print(df) 

data2 = {
    "Name": ["Umair Saad", "Sajjad", "Shams"],
    "Age": [21, 22, 21],
}
df = pd.DataFrame(data2)
print("======================\n",df)

print("======================\n",df.loc[0])
print("======================\n", df.loc[1])

print("======================\n",df.loc[[0, 2]])

print("=========== Named Indexes ===========")
data3 = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

d = pd.DataFrame(data3, index = ["day1", "day2", "day3"])
print(d) 

print("=========== Named Indexes Practice ===========\n")
data4 = {
    "Car-num-plate": [999, 213, 424, 634, 546, 974, 424, 622],
}
temp = pd.DataFrame(data4, index=[1, 2, 3, 4, 5, 6, 7, 8])
print(temp)

   calories  duration
0       420        50
1       380        40
2       390        45
======================
          Name  Age
0  Umair Saad   21
1      Sajjad   22
2       Shams   21
======================
 Name    Umair Saad
Age             21
Name: 0, dtype: object
======================
 Name    Sajjad
Age         22
Name: 1, dtype: object
======================
          Name  Age
0  Umair Saad   21
2       Shams   21
=========== Named Indexes ===========
      calories  duration
day1       420        50
day2       380        40
day3       390        45
=========== Named Indexes Practice ===========

   Car-num-plate
1            999
2            213
3            424
4            634
5            546
6            974
7            424
8            622