In [8]:
import pandas as pd

line = "=" * 60

df = pd.read_excel("E:/fake data/fake_data_with_duplicates.xlsx")
print(df, "\n", line, "duplicates", line)
print(df.duplicated())
duplicate_indices = df[df.duplicated()].index
# Print the index numbers
print("Indices Number: ", duplicate_indices)
print(line, "Drop duplicates", line)
df.drop_duplicates(inplace = True)
print(df)

     ID            Name  Age Department
0   101        John Doe   28         HR
1   102      Jane Smith   34    Finance
2   103     Alice Brown   45         IT
3   104       Bob White   23  Marketing
4   105       Eve Black   37      Sales
5   106     Frank Green   41         HR
6   107      Grace Blue   29    Finance
7   108        Hank Red   38         IT
8   109      Ivy Orange   31  Marketing
9   110     Jack Purple   27      Sales
10  101        John Doe   28         HR
11  103     Alice Brown   45         IT
12  105       Eve Black   37      Sales
13  106     Frank Green   41         HR
14  110     Jack Purple   27      Sales
15  112     Liam Yellow   22         IT
16  113        Mia Pink   32  Marketing
17  114       Noah Cyan   26    Finance
18  115  Olivia Magenta   39      Sales
19  116   Sophia Violet   33  Marketing
20  117       Luna Gray   24         HR
21  118       Zoe White   28    Finance
22  119       Mason Red   36         IT
23  120       Ella Blue   29  Marketing
24  115  Olivia Magenta   39      Sales
25  117       Luna Gray   24         HR
26  118       Zoe White   28    Finance
27  119       Mason Red   36         IT
28  120       Ella Blue   29  Marketing
29  112     Liam Yellow   22         IT
 ============================================================ duplicates ============================================================
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12     True
13     True
14     True
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24     True
25     True
26     True
27     True
28     True
29     True
dtype: bool
Indices Number:  Index([10, 11, 12, 13, 14, 24, 25, 26, 27, 28, 29], dtype='int64')
============================================================ Drop duplicates ============================================================
     ID            Name  Age Department
0   101        John Doe   28         HR
1   102      Jane Smith   34    Finance
2   103     Alice Brown   45         IT
3   104       Bob White   23  Marketing
4   105       Eve Black   37      Sales
5   106     Frank Green   41         HR
6   107      Grace Blue   29    Finance
7   108        Hank Red   38         IT
8   109      Ivy Orange   31  Marketing
9   110     Jack Purple   27      Sales
15  112     Liam Yellow   22         IT
16  113        Mia Pink   32  Marketing
17  114       Noah Cyan   26    Finance
18  115  Olivia Magenta   39      Sales
19  116   Sophia Violet   33  Marketing
20  117       Luna Gray   24         HR
21  118       Zoe White   28    Finance
22  119       Mason Red   36         IT
23  120       Ella Blue   29  Marketing